@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Pretendard Variable !important;
    line-height: 24px;
    letter-spacing: 0.2px;
}

span {
    font-weight: 500;
}

  
textarea, input {
    outline-color: #3030309d;
    border-radius: 4px;
}
  